.chat-app {
  width: 100%;
  /* Chat container styles */
  .chat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 0 auto;
    max-height: 80vh; /* Set a maximum height as a percentage of viewport height */
    overflow-y: auto;
  }

  /* Message styles */
  .message {
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    max-width: 70%;
    word-wrap: break-word;
  }
  .message-content {
    h5 {
      color: var(--Heading, #25282f);
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 21px */
    }
  }
  .message-timestamp {
    color: var(--Body, #222223);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    gap: 2px;
    align-items: flex-end;
    justify-content: flex-end;
    line-height: 150%; /* 15px */
    span {
      display: flex;
      align-items: flex-end;
    }
  }

  .assistant {
    align-self: flex-start;
    color: var(--Body, #222223);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    display: flex;
    align-items: flex-end;
    gap: 6px;
    .yes {
      background: var(--Body-4, #f6f7fa);
      padding: 10px;
      border-radius: 10px;
    }
  }

  .user {
    background: var(--Blue-2, #bfd2ff);
    align-self: flex-end;
    color: var(--Body, #222223);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }

  /* User input styles */
  .user-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--Body-4, #f6f7fa);
    margin: 10px;
    position: sticky;
    bottom: 120px;
    border-radius: 16px;
  }

  .user-input input {
    background: var(--Body-4, #f6f7fa);
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 16px;
    outline: none;
    &::placeholder {
      color: #222223;
    }
  }

  .user-input button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }

  .user-input button:hover {
    background-color: #45a049;
  }
  img {
    margin-right: 5px;
  }
  .loader-message {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 20px;

    .dash {
      margin: 0 15px;
      width: 30px;
      height: 10px;
      border-radius: 8px;
      background: var(--Blue-2, #bfd2ff);
      // box-shadow: 0 0 10px 0 #bfd2ff;
    }

    .uno {
      margin-right: -18px;
      transform-origin: center left;
      animation: spin 3s linear infinite;
    }

    .dos {
      transform-origin: center right;
      animation: spin2 3s linear infinite;
      animation-delay: 0.2s;
    }

    .tres {
      transform-origin: center right;
      animation: spin3 3s linear infinite;
      animation-delay: 0.3s;
    }

    .cuatro {
      transform-origin: center right;
      animation: spin4 3s linear infinite;
      animation-delay: 0.4s;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(360deg);
      }
      30% {
        transform: rotate(370deg);
      }
      35% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes spin2 {
      0% {
        transform: rotate(0deg);
      }
      20% {
        transform: rotate(0deg);
      }
      30% {
        transform: rotate(-180deg);
      }
      35% {
        transform: rotate(-190deg);
      }
      40% {
        transform: rotate(-180deg);
      }
      78% {
        transform: rotate(-180deg);
      }
      95% {
        transform: rotate(-360deg);
      }
      98% {
        transform: rotate(-370deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }

    @keyframes spin3 {
      0% {
        transform: rotate(0deg);
      }
      27% {
        transform: rotate(0deg);
      }
      40% {
        transform: rotate(180deg);
      }
      45% {
        transform: rotate(190deg);
      }
      50% {
        transform: rotate(180deg);
      }
      62% {
        transform: rotate(180deg);
      }
      75% {
        transform: rotate(360deg);
      }
      80% {
        transform: rotate(370deg);
      }
      85% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes spin4 {
      0% {
        transform: rotate(0deg);
      }
      38% {
        transform: rotate(0deg);
      }
      60% {
        transform: rotate(-360deg);
      }
      65% {
        transform: rotate(-370deg);
      }
      75% {
        transform: rotate(-360deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
  }
}
