.horoscope-content {
  width: 100%;
  .loading-content {
    // display: flex;
    // justify-content: center;
    margin-top: 30px;
    background: url("../assets/pink.png") !important;
  }
  article {
    border-radius: 8px;
    margin-top: 30px;
    padding: 15px;
    background: url("../assets/pink.png");
    display: flex;
    flex-direction: column;
    gap: 20px;
    h3 {
      color: var(--Heading, #25282f);
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 24px */
    }
    p {
      color: #646670;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 21px */
    }
  }
  section {
    margin-top: 20px;
    p {
      color: var(--Body, #646670);
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 21px */
    }
  }
}
