.sticky-footer {
  padding: 10px;
  position: fixed;
  width: 738px;
  bottom: 15px;
  border-radius: 16px;
  margin: 15px;
  background: var(--Body-4, #f6f7fa);
  height: 82px;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  @media(max-width: 540px) {
    width: 510px;
  }
  @media(max-width: 425px) {
    width: 395px;
  }
  @media(max-width: 414px) {
    width: 385px;
  }
  @media(max-width: 393px) {
    width: 362px;
  }
  @media(max-width: 390px) {
    width: 362px;
  }
  @media(max-width: 375px) {
    width: 345px;
  }
  @media(max-width: 360px) {
    width: 330px;
  }
}

.sticky-footer ul {
  flex: 1;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.sticky-footer li {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  span {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 15px */
    color: var(--Body, #646670);
  }
}

.sticky-footer a {
  text-decoration: none;
  color: #fff;
}
