.selector {
  bottom: 10px;
  position: sticky;
  background: white;
  .date-picker-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
  }

  .date-picker-option {
    width: 40px;
    height: 60px;
    overflow-y: hidden;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 21px;
    line-height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .date-picker-option.scrolling {
    transition: none;
  }

  .selected-date {
    text-align: center;
    margin-top: 20px;
    font-size: 19px;
  }
  .picker-container .picker-inner {
    display: flex;
    justify-content: center;
  }
  .picker-container .picker-column {
    @media (min-width: 768px) {
      transform: rotate(180deg);
    }
  }
  .picker-container .picker-column .picker-item {
    @media (min-width: 768px) {
      transform: rotate(180deg);
    }
  }
  button {
    display: flex;
    width: 100%;
    padding: 10px 140px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: var(--Grad, linear-gradient(139deg, #404065 10.29%, #0085ff 94.53%));
    border: none;
    color: var(--White, #fff);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
  }
}
